<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://via.placeholder.com/150" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Quiz Builder App
    </a>

    <div class="dropdown show">
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</nav>